* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards {
  margin: 60px 10px;
}

.card {
  height: 33%;
  max-width: 414px;
}

.sedans {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: hsl(31, 77%, 52%);
}

.suvs {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__content {
  padding: 30px;
  height: 100%;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.75);
}

.learn-more {
  border: 0;
  border-radius: 50px;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  mix-blend-mode: screen;
  height: 40px;
  width: 130px;
}

@media (min-width: 1024px) {
  .cards {
    display: flex;
    margin: 100px;
    min-height: 574px;
  }

  .card {
    width: 33.3%;
    height: 100%;
  }

  .sedans {
    border-radius: 10px 0px 0px 10px;
  }

  .luxury {
    border-radius: 0px 10px 10px 0px;
  }

  .card__content {
    padding: 60px;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
    line-height: 30px;
    max-height: 240px;
    min-height: 240px;
  }
}
